<h2>Checkboxes</h2>
<div [formGroup]="form" fxLayout="column" fxLayoutGap="40px">
  <div class="first-checkbox">
    <h1>
      Vertical Layout
    </h1>
    <iras-checkbox
      aria-label="Vertical Check Input"
      [hasError]="checkHasError"
      formControlName="check"
      [options]="agreementCheckOptions"
    >
    </iras-checkbox>
  </div>
  <div class="second-checkbox">
    <h1>Horizontal Layout</h1>
    <iras-checkbox
      aria-label="Horizontal Check Input"
      layout="horizontal"
      [hasError]="checkHasError"
      [options]="agreementCheckOptions"
    >
    </iras-checkbox>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="20px">
    <iras-custom-button
      aria-label="Patch Value"
      buttonText="patch value"
      (buttonClicked)="patchValue()"
    ></iras-custom-button>
    <iras-custom-button
      aria-label="Toggle Error"
      buttonText="toggle error"
      (buttonClicked)="toggle()"
    ></iras-custom-button>
    <iras-custom-button
      aria-label="Disable"
      buttonText="Disable"
      (buttonClicked)="toggleDisable()"
    ></iras-custom-button>

    <iras-custom-button aria-label="Reset" buttonText="Reset" (buttonClicked)="reset()"></iras-custom-button>
  </div>

  <div>
    valid: {{ check.valid }} <br />
    dirty: {{ check.dirty }} <br />
    touched: {{ check.touched }} <br />
    required: {{ check.errors?.required }} <br />
    value: {{ check.value | json }}
  </div>
</div>

<div fxLayout="row" [style.margin-top]="'50px'">
  <iras-checkbox
    aria-label="Custom Strong CheckBox"
    class="custom-strong-checkbox"
    [options]="declarationOptions"
  ></iras-checkbox>
  <iras-required-symbol aria-label="Required"></iras-required-symbol>
</div>
