@import "../utilities/iras.globals.scss";

.iras-icon.iras-tooltip-icon--close::before {
  --color: var(--primary-contrast);

  color: var(--color);
}

.iras-tooltip__icon-close {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13"><path fill="white" d="M12.1654769,0.604400289 C11.8728613,0.311784692 11.4035721,0.311784692 11.1109565,0.604400289 L6.38493859,5.33041823 L1.65892065,0.604400289 C1.36630505,0.311784692 0.897015886,0.311784692 0.604400289,0.604400289 C0.311784692,0.897015886 0.311784692,1.36630505 0.604400289,1.65892065 L5.33041823,6.38493859 L0.604400289,11.1109565 C0.311784692,11.4035721 0.311784692,11.8728613 0.604400289,12.1654769 C0.747947563,12.3090242 0.941184278,12.3863189 1.12889994,12.3863189 C1.31661561,12.3863189 1.50985232,12.3145452 1.6533996,12.1654769 L6.37941754,7.43945895 L11.1054355,12.1654769 C11.2489828,12.3090242 11.4422195,12.3863189 11.6299351,12.3863189 C11.8231719,12.3863189 12.0108875,12.3145452 12.1544348,12.1654769 C12.4470504,11.8728613 12.4470504,11.4035721 12.1544348,11.1109565 L7.43945895,6.38493859 L12.1654769,1.65892065 C12.4580925,1.36630505 12.4580925,0.897015886 12.1654769,0.604400289 Z" transform="translate(0 .5)"/></svg>');
  width: 13px;
  height: 13px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  &:hover {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="white" d="M15.78,4.22a.74.74,0,0,0-1,0L10,8.94,5.27,4.22a.74.74,0,1,0-1,1L9,10,4.22,14.73a.74.74,0,0,0,0,1,.76.76,0,0,0,.52.22.74.74,0,0,0,.53-.22L10,11.05l4.73,4.73a.76.76,0,0,0,.52.22.71.71,0,0,0,.53-.22.74.74,0,0,0,0-1L11.05,10l4.73-4.73A.74.74,0,0,0,15.78,4.22Z"/><path fill="white" d="M10,1a9,9,0,1,1-9,9,9,9,0,0,1,9-9m0-1A10,10,0,1,0,20,10,10,10,0,0,0,10,0Z"/></svg>');
    width: 16px;
    height: 16px;
    position: absolute;
    right: 9px;
    top: 9px;
  }
}

.iras-tooltip__content-container {
  width: 100%;
  height: 100%;
}

.iras-tooltip__title {
  font-weight: $font-weight-bold;
}
