.modal-content {
  background-color: white;
  padding: 40px 20px;
  min-width: 500px;
  // max-width: 500px;
  overflow-y: scroll;
  max-height: 500px;
}

.grid-sample-container {
  margin-top: 340px;
}
