<h2>Typography</h2>
<div fxLayout="column" fxLayoutGap="20px">
  <h2>Page Header</h2>

  <h3>Section Header</h3>

  <h4>Sub Section Header</h4>

  <p class="paragraph-header">Paragraph Header</p>

  <p>Paragraph (Default)</p>

  <a class="default-error-link">Error or warning link (for 360 usage only).</a>

  <a class="default-link">Hyperlink</a>

  <span class="h5-primary">[&#43;] More Search Options</span>

  <h5>Next Step</h5>
  <span class="default-link-bold">Link 1 &#187;</span>
  <span class="default-link-bold">Link 2 &#187;</span>
  <span class="default-link-bold">Link 3 &#187;</span>
</div>

<p>Breadcrumb</p>
<ul class="breadcrumb">
  <li><a class="default-link">Overview</a></li>
  <li><a class="default-link">eStamping &#38; Assessment</a></li>
  <li><a class="default-link">Assessment Adjudication</a></li>
  <li><span>Assessment Adjudication Details</span></li>
</ul>
