<div fxLayout="row" fxLayoutGap="20px">
  <iras-custom-button
    aria-label="Open Snack Bar 1"
    buttonText="Open Snack Bar 1"
    (buttonClicked)="snackBarButtonClick()"
    fill="solid"
    shape="round"
    color="primary"
  ></iras-custom-button>

  <iras-custom-button
    aria-label="Open Snack Bar 2"
    buttonText="Open Snack Bar 2"
    (buttonClicked)="snackBarButtonClick2()"
    fill="solid"
    shape="round"
    color="primary"
  ></iras-custom-button>

  <iras-custom-button
    aria-label="Open Snack Bar 3"
    buttonText="Open Snack Bar 3"
    (buttonClicked)="snackBarButtonClick3()"
    fill="solid"
    shape="round"
    color="primary"
  ></iras-custom-button>

  <iras-custom-button
    aria-label="Open Snack Bar 4"
    buttonText="Open Snack Bar 4"
    (buttonClicked)="snackBarButtonClick2()"
    fill="solid"
    shape="round"
    color="primary"
  ></iras-custom-button>

  <iras-custom-button
    aria-label="Open Snack Bar 5"
    buttonText="Open Snack Bar 5"
    (buttonClicked)="snackBarButtonClick2()"
    fill="solid"
    shape="round"
    color="primary"
  ></iras-custom-button>
</div>
