<div fxLayout="column" fxLayoutGap="10px" fxFlex="95">
  <h1>Cards</h1>
  <div fxFlex="100">
    <div fxFlex="100" fxLayout="column" fxLayoutGap="20px" class="card-item-1">
      <h3>Default Box</h3>
      <iras-card-container aria-label="Card Container" class="card-item-1" [templateContentRef]="templateContentRef">
        <ng-template #templateContentRef>
          <div>
            <div>
              Ella Wong
            </div>
            <div>
              Singapore Citizen
            </div>
            <div>
              NRIC
            </div>
            <div>
              S1234567A
            </div>
          </div>
        </ng-template>
      </iras-card-container>
    </div>
  </div>

  <h3>Card Demo - Customize Card Height and Width</h3>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start stretch">
    <div>
      <iras-card-container aria-label="Card Container" class="card1" [templateContentRef]="templateContentRef1">
        <ng-template #templateContentRef1>
          <div>Card 1</div>
        </ng-template>
      </iras-card-container>
    </div>
    <div>
      <iras-card-container aria-label="Card Container" class="card2" [templateContentRef]="templateContentRef2">
        <ng-template #templateContentRef2>
          <div></div>
        </ng-template>
      </iras-card-container>
    </div>
    <div>
      <iras-card-container aria-label="Card Container" class="card3" [templateContentRef]="templateContentRef3">
        <ng-template #templateContentRef3>
          <div></div>
        </ng-template>
      </iras-card-container>
    </div>
  </div>
  <div fxLayout="row wrap">
    <h3 fxFlex="100">White Box</h3>
    <div fxFlex="100">
      <iras-card-container aria-label="Card Container" class="custom-card1" [templateContentRef]="templateContentRef4">
        <ng-template #templateContentRef4>
          <div></div>
        </ng-template>
      </iras-card-container>
    </div>
  </div>

  <div fxLayout="row wrap">
    <h3 fxFlex="100">Card (Horizontal Grouping)</h3>
    <div fxFlex="100">
      <iras-card-container aria-label="Card Container" class="custom-card2" [templateContentRef]="templateContentRef5">
        <ng-template #templateContentRef5>
          <div class="custom-card2-group-1"></div>
        </ng-template>
      </iras-card-container>
    </div>
  </div>

  <div fxLayout="row wrap">
    <h3 fxFlex="100">Card (Vertical Grouping)</h3>
    <div fxFlex="100">
      <iras-card-container aria-label="Card Container" class="custom-card4" [templateContentRef]="templateContentRef7">
        <ng-template #templateContentRef7>
          <div class="custom-card4">
            <div class="custom-card4__section"></div>
            <div class="custom-card4__section"></div>
            <div class="custom-card4__section"></div>
          </div>
        </ng-template>
      </iras-card-container>
    </div>
  </div>
  <div fxLayout="row wrap">
    <h3 fxFlex="100">Card - Customized</h3>
    <div fxFlex="100">
      <iras-card-container aria-label="Card Container" class="custom-card3" [templateContentRef]="templateContentRef6">
        <ng-template #templateContentRef6> </ng-template>
      </iras-card-container>
    </div>
  </div>
</div>
